.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../images/bloco-tijolos.jpg);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
  height: 119px;
  width: 100%;
  background-color: #111111;
  color: #ffffff;
  border-bottom: 4px solid #ffd700;
}

.menu > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  display: block;
  width: 100px;
}

.panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  margin: 5px;
  height: 200px;
  width: 200px;
  border-radius: 4px;
  background-color: #3f0404;
}

.enemy {
  background-image: url(../images/ralph.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.title {
  color: #c03b3b;
}

.menu-lives {
  text-align: start;
}

.box-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: #ffd700;
  color: #000;
  padding: 40px 20px;
  border-radius: 4px;

  .box-titulo {
    font-size: 1.5rem;
  }

  .box-button {
    display: flex;
    padding-top: 32px;
    justify-content: space-around;

    button {
      padding: 8px 16px;
      font-size: 1.5rem;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: #3f0404;
        color: #ffffff;
      }
    }
  }
}

#end-game {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 40px 40px;
  border-radius: 4px;

  p {
    font-size: 1.5rem;
  }
}
